@theme "/home/ayo/.guix-profile/share/rofi/themes/paper-float.rasi"

configuration {
  modes: "window,drun,run,ssh";
  terminal: "kgx";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

element {
  orientation: horizontal;
  children: [ element-text, element-icon ];
  spacing: 5px;
}
